@font-face {
   font-family: 'Shabnam';
   font-display: swap;
   src: url('file:///C:/Users/Shahab%20Hoseini/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-24_185638/fonts/Shabnam/font.ttf');
}
